<h1>Proyecto Ruby</h1>
<div class="jumbotron">
  <h1>Proyecto Ruby</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p><a class="btn btn-info" href="#" role="button">Entrar</a></p>
</div>
<h2>Segundo Título</h2>
<p>Pellentesque vestibulum sed risus bibendum efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ligula urna, euismod ut tincidunt sit amet, viverra ut augue. Nunc malesuada et ante vel vulputate. Pellentesque ac diam a velit posuere fermentum non ut ipsum. Suspendisse gravida tristique felis at varius. Proin quis lacus semper, sodales arcu vel, placerat metus. Fusce lobortis nunc vitae ligula suscipit, vel gravida lorem interdum. Phasellus purus dui, condimentum nec suscipit vel, maximus id orci. Mauris rutrum vel lectus sed vulputate. Aliquam venenatis mi leo.
</p>
<a href=>"http://actualimagenes.com/wp-content/uploads/2015/08/pero-disfrazado-de-batman.png"</a href=>
<h3><em>Cosas que me gustan</em></h3>
<ul>
    <li>perros</li> 
    <li>waffles</li> 
    <li>cine</li>
</ul>
<p>Lorem ipsum dolor sit amnsequat elit consequat vel. Integer in metus nisi.
Sed nibh eros, pulvinar fringilla turpis a, commodo porta orci. Donec sed tellus ut augue suscipit sagittis quis sed risus. Integer auctor at mauris sed tempor. Vivamus a arcu eros. Etiam sollicitudin sagittis aliquam. Pellentesque facilisis vestibulum lorem non convallis. Quisque finibus eros quis tortor feugiat tempor. Nullam luctus elit in ullamcorper sagittis. Fusce suscipit nec tellus vel vehicula. Integer tempor ullamcorper dolor quis mollis. Aenean a consequat justo, et lobortis neque.</p>
<h3><em>Cosas que odio</em></h3>
<ol>
    <strong><li>gatos</li></strong>
    <li>verano</li>
    <li>baja batería</li>
</ol>



<img src=http://actualimagenes.com/wp-content/uploads/2015/08/pero-disfrazado-de-batman.png>